* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(135deg, #dd9750, #fefce8);
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  background: #57e5f8;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 600px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.task-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.task-input input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.task-input button {
  background: green;
  color: white;
  padding: 12px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
.task-input button:hover {
  background: rgb(2, 165, 2);
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background: #f1f1f1;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
li span {
  flex: 1;
}
.actions button {
  margin-left: 5px;
  background: #6c757d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}
.actions button:hover {
  background: #495057;
}
.completed span {
  text-decoration: line-through;
  color: #888;
}